<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Airlines</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welocme to Mongoose Airlines!</h1>
    <p>Where are you going today?</p>
  </body>
</html>
